<h1> New division</h1>

<form action='/wizard_divide'>
  <label for='1'> Divide this: </label>

  <input id='1' type = 'text' name ='first_num'>

  <label for='2'> from this: </label>

  <input id='2' type = 'text' name ='second_num'>

  <button> Divide! </button>

</form>