<h1> New multiplication</h1>

<form action='/wizard_multiply'>
  <label for='1'> Multiple this: </label>

  <input id='1' type = 'text' name ='first_num'>

  <label for='2'> by this: </label>

  <input id='2' type = 'text' name ='second_num'>

  <button> Multiply! </button>

</form>